avatar = team[article.author]['avatar']
name = team[article.author]['name']

.card.l-margin-bottom-40
	.card-header
		a(href="/blog/#{ slug }.html")
			h2= article.title

	.card-body
		p= article.description

	.card-footer.clearfix
		p.author <img src="#{avatar}"/> by #{name}

		if article.meta
			small.card-tags #{article.meta.topics}