header( class="article-header #{hero}")
  time.article-date #{date}
  h1.animated.fadeIn= title

  if subtitle
    h2.animated.fadeIn= subtitle

  for person, name in team
    if author == name
      p.author
        img(src="#{person.avatar}")
        span.author-name by #{person.name}

  .cta-buttons.animated.fadeIn
    if demo
      a(href="#{demo}" class="button button-rounded button-primary button-raised button-uppercase button-large")<i class="fa fa-gamepad"></i> View Demo

    if code
      a(href="#{code}" class="button button-rounded button-primary button-raised button-uppercase button-large")<i class="fa fa-github"></i> Get Code

