header( class="article-header #{hero}")
  h1.animated.fadeIn= title

  p.author
    img(src="#{author.avatar}")
    span by #{author.name}


  if demo
    .cta-buttons.animated.fadeIn
      a(href="#{demo}" class="button button-rounded button-plain button-border button-uppercase button-large") View Demo

