header( class="article-header background-mantle")
  time #{date}
  h1 #{title}

  p.author
    img(src="#{author.avatar}")
    span by #{author.name}


  if demo
    .cta-buttons
      a(href="#{demo}" class="button button-rounded button-royal button-uppercase button-jumbo button-raised") View Demo

